colorama==0.4.6
datasets==4.0.0
einops==0.8.1
icecream==2.1.7
ipython==8.12.3
jax==0.6.2
jsonschema==4.25.1
matplotlib==3.10.5
numpy==2.3.2
peft==0.17.0
Pillow==11.3.0
python_Levenshtein==0.27.1
PyYAML==6.0.2
PyYAML==6.0.2
qwen_agent.egg==info
qwen_vl_utils==0.0.11
Requests==2.32.5
scikit_learn==1.7.1
tiktoken==0.11.0
torch==2.7.1
torchvision==0.23.0
tqdm==4.67.1
transformers==4.54.1
transformers_stream_generator==0.0.5
trl==0.20.0
yacs==0.1.8
